.nav-header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: var(--z-fixed);
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    background-color: #F0C456;
    padding: 6px 20px 6px 0;
  }
  .nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  .nav li {
    margin-left: 25px;
    margin-right: 25px;
  }
  .nav a {
    text-decoration: none;
    color: #152025;
    font-weight: 750;
    font-size: 17px;
  }
  .nav a:hover {
    color: #48ADA2;
  }
  