.App {
  max-width: 900px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  color: #1f3f65;
  margin-bottom: 50px;
}

.App-form {
  max-width: 700px;
  margin: 0 auto;
  margin-top: 80px;
  text-align: center;
  color: #1f3f65;
  margin-bottom: 50px;
}

.Poster {
  margin-top: 80px;
  text-align: center;
  color: #1f3f65;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.App-split {
  margin-top: 80px;
  text-align: center;
  color: #1f3f65;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  gap: 13px;
  align-items: stretch;
}

.Card {
  flex: 1;
  max-width: 100%;
  flex-direction: column;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
}

.Card-form {
  flex: 1;
  max-width: 360px;
  flex-direction: column;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1f3f65;
}

.App-link {
  color: #61dafb;
}

.Font {
  color: #1f3f65;
  font-weight: 650;
  font-size: 16px;
}

.Button {
  background-color: #48ada2;
  color: whitesmoke;
  font-size: 14px;
  border-radius: 10px;
}

.Button-delete {
  background-color: red;
  padding: 12px;
  color: whitesmoke;
  font-size: 10px;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  padding: 10px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
}

.Button-cart {
  background-color: #48ada2;
  color: whitesmoke;
  font-size: 10px;
  border-radius: 10px;
}

.Button-bag {
  background-color: #48ada2;
  color: whitesmoke;
  font-size: 16px;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  padding: 10px;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
}

.Gap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22vh;
  align-items: end;
}

.Disabled-form {
  color: grey;
}

.About-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 300px;
}

.Font-big {
  color: #1f3f65;
  font-weight: 650;
  font-size: 16px;
  margin-bottom: 8px;
}

.Font-med {
  color: #1f3f65;
  font-weight: 400;
  font-size: 13px;
  margin-bottom: 3px;
}

.Font {
  color: #1f3f65;
  font-weight: 650;
  font-size: 14px;
}
