.App {
  margin-top: 80px;
  text-align: center;
  margin-left: 205px;
  margin-right: 205px;
  color: #1F3F65;
  margin-bottom: 50px;
}

.Poster {
  margin-top: 80px;
  text-align: center;
  margin-left: 40px;
  margin-right: 40px;
  color: #1F3F65;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 25px;
}

.App-split {
  margin-top: 80px;
  text-align: center;
  color: #1F3F65;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  gap: 13px;
  align-items: stretch;
}

.Card {
  flex: 1;
  max-width: 100%;
  flex-direction: column;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
}

.Card-form {
  flex: 1;
  max-width: 450px;
  flex-direction: column;
  box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
}

.App-header {
  background-color: whitesmoke;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #1F3F65;
}

.App-link {
  color: #61dafb;
}

.Font {
  color: #1F3F65;
  font-weight: 650;
  font-size: 18px;
}

.Button {
  background-color: #48ADA2;
  color: whitesmoke;
  font-size: 18px;
  border-radius: 10px;
}

.Button-delete {
  background-color: red;
  padding: 12px;
  color: whitesmoke;
  font-size: 15px;
  border-radius: 60px;
}

.Button-bag {
  background-color: #48ADA2;
  color: whitesmoke;
  font-size: 16px;
  border-radius: 40px;
}

.Gap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 26vh;
  align-items: end;
}

.Disabled-form {
  color: grey;
}

.About-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 400px;
}

.Font-big {
  color: #1F3F65;
  font-weight: 650;
  font-size: 23px;
  margin-bottom: 8px;
}

.Font-med {
  color: #1F3F65;
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 3px;
}